/TestOpenTK/Common/obj/Debug/*.cache
/TestOpenTK/TestOpenTK/obj/Debug/*.cache
/TestOpenTK/Common/bin
/TestOpenTK/Common/obj
/TestOpenTK/.vs
/TestOpenTK/TestOpenTK/obj
/TestOpenTK/TestOpenTK/bin
/TestOpenTK/pointcloud/Debug/rs-pointcloud.tlog/*.tlog
/TestOpenTK/pointcloud/Debug
/TestOpenTK/packages
/TestOpenTK/pointcloud/*.user
/TestOpenTK/lib/rs-pointcloud.dll
/TestOpenTK/lib/rs-pointcloud.exp
/TestOpenTK/lib/rs-pointcloud.ilk
/TestOpenTK/lib/rs-pointcloud.lib
/TestOpenTK/lib/rs-pointcloud.pdb
/FromErez/*
/focus_calibration/*

