/TestOpenTK/Common/obj/Debug/*.cache
/TestOpenTK/TestOpenTK/obj/Debug/*.cache
/TestOpenTK/Common/bin
/TestOpenTK/Common/obj
/TestOpenTK/.vs
/TestOpenTK/TestOpenTK/obj
/TestOpenTK/TestOpenTK/bin
/TestOpenTK/pointcloud/Debug/rs-pointcloud.tlog/*.tlog
/TestOpenTK/pointcloud/Debug
/TestOpenTK/packages
/TestOpenTK/pointcloud/*.user
/TestOpenTK/lib/rs-pointcloud.dll
/TestOpenTK/lib/rs-pointcloud.exp
/TestOpenTK/lib/rs-pointcloud.ilk
/TestOpenTK/lib/rs-pointcloud.lib
/TestOpenTK/lib/rs-pointcloud.pdb
/FromErez/*
/focus_calibration/*

/Calibration/AppScanRoom_2022b/for_*
/Calibration/AppScanRoom_2022b/PackagingLog.html.orig
/Calibration/*.mat
/Calibration/AppCalibrator_2022b/*
/Calibration/Explorer/*
/Calibration/DXFLib/*
/TestOpenTK/*
/Calibration/Calibration.zip
bin/Debug
Calibration/bin
MATRIXCORESimulator
Scans
Calibration/Calibration/for_redistribution
Calibration/Calibration/for_redistribution_files_only
Calibration/Calibration/for_testing
*.exe
LabelingPowerSockets
ScanSuite/MatLAB/Calibrator_2023a/for_redistribution_files_only
ScanSuite/MatLAB/Calibrator_2023a/for_testing
ScanSuite/MatLAB/CalibratorApp_2023a
*.db
*.txt
*.ply
ScanSuite/x64
ScanSuite/x86
*.pdb
*.idb
*.dll
